.right {
	text-align: right;
	list-style-type: none;
}

.ui-widget {
    font-family: 'Open Sans' !importnant;
}

.ui-confirm-dialog {
	text-align: center !important;
	position: absolute !important;
	left: 25% !important;
	top: 30% !important;
	z-index: 50 !important;
	width: inherit !important;
}

.table-striped tbody>tr:nth-child(2n+1)>td, .table-striped tbody>tr:nth-child(2n+1)>th
	{
	background-color: #E0E0D1 !important;
}

.control-group.success [class*="icon-"] {
	color: #000000 !important;
}

.control-label {
	float: left;
	width: 160px;
	text-align: right
}

.form-h .control-group {
	margin-bottom: 20px;
	*zoom: 1
}

.form-h .control-group:before, .form-h .control-group:after {
	display: table;
	line-height: 0;
	content: ""
}

.form-h .control-group:after {
	clear: both
}

.form-h .control-label {
	float: left;
	width: 140px;
	padding-top: 5px;
	text-align: right
}

.form-h .controls {
	*display: inline-block;
	*padding-left: 20px;
	margin-left: 160px;
	*margin-left: 0
}

.form-h .controls:first-child {
	*padding-left: 160px
}

.form-h .help-block {
	margin-bottom: 0
}

.form-h input+.help-block, .form-h select+.help-block, .form-h textarea+.help-block,
	.form-h .uneditable-input+.help-block, .form-h .input-prepend+.help-block,
	.form-h .input-append+.help-block {
	margin-top: 10px
}

.form-h .form-actions {
	padding-left: 180px
}

.ui-fileupload-files td {
	font-size: 12px;
	padding: 4px 10px;
}
.ui-picklist{
	font-size: 12px;
	padding: 4px 10px;
}
.input-icon {
	padding-top: 5px;
}


.v-center {
    display: block;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.v-center-btn {
    height: 30px;
    text-align: center;
    font-size: 23px;
    vertical-align: middle;
    width: 15%
}
.spacer-20 {
	height: 20px;
	clear: both;
	width: 100%;
}

.spacer-30 {
	height: 30px;
	clear: both;
	width: 100%;
}

.spacer-40 {
	height: 40px;
	clear: both;
	width: 100%;
}

.big-icon {
    font-size: 26px;
}